html, body{
    width: 100%;
    overflow-x: hidden;
}

h2 {
    font-size: 1.9rem;
    letter-spacing: -0.3px;
}
/*HOME*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', system-ui, sans-serif;
    color: #111;
}

h1, h2, h3{
    letter-spacing: -0.5px;
}

/*==NAV==*/
nav
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    padding: 0 64px;
    display: flex;
    align-items: center;
    z-index: 1000;
    background: rgba(255,255,255, 0.85);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #e2ddd6;
}

nav a
{
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 500;
    letter-spacing: 0.5px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

nav li {
    list-style: none;
}

nav a::after
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 1px;
    background-color: #a37c40;
    transition: width 0.3s ease;
}

nav a:hover::after
{
    width:100%;
}

/*==HERO==*/
.hero
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:calc(100vh - 72px);
    margin-top: 72px;;
}

/*Image side*/
.hero-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 20%;
}

/*text side*/
.hero-text
{
    background-color: #f4efe9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 96px;
}

.hero-text h1
{
    font-size: 3.8rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.hero-text p
{
    font-size: 1.1rem;
    max-width: 440px;
    line-height: 1.7;
    color: #333333;
}


/*===WELCOME SECTION===*/
section{
    padding: 120px 80px;
    position: relative;
    background: #ffffff;
}

.welcome-box{
    max-width: 720px;
    font-size: 1,05px;
    line-height: 1.8;
    color: #444;
}

/*==divider==*/
.divider {
    height: 1px;
    background-color: #e2ddd6;
}

.welcome-box{
    max-width:760px;
    margin: 0 auto;
    padding: 48px 56px;

    background-color: #ffffff;
    border-radius: 16px;

    box-shadow: 0 20px 40px rgba (0,0,0,0.06);
    font-size: 1.05rem;
    line-height: 1.8;
    color: #444;
}

.welcome-box::before{
    content:"";
    display:block;
    width: 48px;
    height: 3px;
    background-color: #a37c40;
    margin-bottom: 24px;
}

.home-leaf-accent {
    position:relative;
    height: 100px;
    margin-top: 2rem;
}

.home-leaf-accent img{
    position: absolute;
    right: 2rem;
    bottom: 0;
    width: 160px;
    opacity:1;
    animation: floatleaf 7s ease-in-out infinite;
}

@media (max-width: 480px){
    .home-leaf-accent img{
        width: 32px;
        opacity: 0.4;
    }
}

section:last-of-type{
    padding-bottom: 40px;
}
/*====ABOUT ME====*/

/*About Hero*/
.about-hero
{
    padding: 120px 80px 72px;
    background-color: #f4efe9;
}

.about-hero h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-hero p{
    max-width: 640px;
    font-size: 1.05rem;
    line-height: 1.8;
    color: #444;
}

.skills{
    padding: 72px 80px;
    color: #555;
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.skill-list {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.skill {
    padding: 0.4rem ;
    border-bottom: 1px solid #d8c7b2;
    color: #6f4e37;
    font-size: 0.95rem;
}

.skill:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 24px rgba(0,0,0,0,08);
}

.personality {
    padding: 72px 80px;
    background-color: #f6e9b5;
}

.personality h2{
    font-size: 2rem;
    margin-bottom: 24px;
}

.personality p{
    max-width: 700px;
    line-height: 1.8;
    color: #444;
}

.education-card {
    max-width: 760px;
    background:#f6e9b5;
    padding: 48px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.06);
}

.education h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

.education-card h3{
    margin-bottom: 12px;
}

.education{
    color:#555;
    margin-bottom: 12px;
    padding: 72px 80px;
}

.courses {
    margin-top: 24px;
    padding-left: 20px;
}

.certifications {
    padding: 72px 80px;
}

.cert-list {
    list-style: none;
    padding:0;
}

.cert-list {
    margin-bottom: 16px;
}

.cert-list a {
    margin-left: 12px;
    color: #a37c40;
    text-decoration: none;
}

.cert-list a:hover {
    text-decoration: underline;
}

.section-divider{
    width:64px;
    height:2px;
    background-color: #a37c40;
    margin: 16px 0 32px;
}

.about-section{
    background: linear-gradient(to right, #ffffff 60%, #faf6f1 100%);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    padding: 4rem;
    position: relative;
    overflow: hidden;
}

.about-decor {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
}

.about-content {
    position:relative;
    z-index: 2;
}

.about-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about-content h2{
    margin-top: 2.5rem;
    font-size: 1.5rem;
}

.about-content p{
    max-width: 550px;
    line-height: 1.7;
    color: #444;
}

.leaf {
    position: absolute;
    width: 400px;
    height: auto;
    opacity: 0.60;
    filter: sepia(40%) saturate(80%);
    animation: floatleaf 12s ease-in-out infinite;
}

/*invidual position*/
.leaf-1
{
    top: 5%;
    right: -40px;
    animation-delay: 0s;
}

.leaf-2{
    top: 30%;
    right: 80px;
    transform: rotate(-12deg);
    animation-delay: 3s;
}

.leaf-3{
    top:55%;
    right: -20px;
    transform: rotate(8deg);
    animation-delay: 6s;
}

.leaf-4{
    top: 80%;
    right: 100px;
    transform: rotate(-6deg);
    animation-delay: 9s;
}

@keyframes floatleaf {
    0%{
        transform: translate(0, 0) rotate(0deg);
    }
    25%{
        transform : translate(7px, -20px) rotate(2deg);
    }
    50%{
        transform: translate(-7px, -15px) rotate(-2deg);
    }
    75%{
        transform:translate(1px, -3px) rotate(1deg);
    }
    100%{
        transform: translate(0,0) rotate(0deg);
    }
}

.leaf-1 { animation-duration: 12s; }
.leaf-2 { animation-duration: 14s; }
.leaf-3 { animation-duration: 10s; }
.leaf-4 { animation-duration: 13s; }

/*==PROJECTS==*/

.project-section{
    padding: 140px 80px 80px;
    background: linear-gradient(to right, #f9f7f3 60%, #fffefe 100%);
}

/*each row*/
.project-row {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
    margin-bottom: 200px;
    position: relative;
}

/*Reverse layout*/
.project-row.reverse {
    grid-template-columns: 0.8fr 1.2fr;
}

.project-row.reverse .project-cards{
    order:2;
}

.project-row.reverse .project-accent{
    order:1;
}

/* Individual card*/
.project-card{
    background: rgb(254, 236, 188);
    padding: 36px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.06);
    transition: transform 0.3s ease, box-shadow  0.3s ease;
}

.project-card h3 {
    font-size: 1.3rem;
    margin-bottom: 12px;
    color: #3f2702;
}

.project-card p{
    font-size: 1rem;
    line-height: 1.7;
    color: #665549;
}

/*Hover effect*/
.project-card:hover{
    transform: translateY(-6px);
    box-shadow:0 30px 60px rgba(0,0,0,0.08);
}

/*coming soon styling*/
.project-card .coming-soon{
    background: #f6e9b5;
}

/*Accent SVG area*/
.project-accent{
    position: relative;
    height: 200px;
}

.project-accent img{
    position: absolute;
    right: 20px;
    top:10%;
    transform: translateY(-70%);
    width: 380px;
    opacity:1;
    filter: sepia(40%) saturate(80%);
    animation: floatleaf 12s ease-in-out infinite;
}

/*Flip SVG side for reserved rows*/
.project-row.reverse .project-accent img{
    right: auto;
    left: 20px;
    top: 46%;
}

/*Responsive*/
@media (max-width: 900px) {
    .project-row,
    .project-row.reverse{
        grid-template-columns: 1fr;
    }

    .project-cards {
        grid-template-columns: 1fr;
    }

    .project-accent{
        height: 180px;
        margin-top: 40px;
    }

    .project-accent img {
        position: relative;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: none;
        width:160px;
    }
}

.project-title{
    font-size: 2.2rem;
    font-weight: 600;
    color: #3f2702;
    margin-bottom: 100px;
    letter-spacing: -0.5px;
}

/*===CONTACT PAGE===*/

.contact-section{
    padding: 140px 80px 100px;
    background: linear-gradient(to right, #f9f7f3 60%, #fffefe 100%);
}

.contact-title{
    font-size: 2.4rem;
    color: #160d01;
    margin-bottom: 80px;
    letter-spacing: -0.5px;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    align-items: center;
    gap: 60px;
}

/*Text side*/
.contact-text p{
    font-size: 1.05rem;
    line-height: 1.8;
    color:#6f4e37;
    max-width: 520px;
}

.contact-info{
    margin-top: 32px;
}

.contact-info p{
    font-size: 0.95rem;
    margin-bottom: 8px;
    color:#3f2702;
}

/*Accept*/
.contact-accent{
    position: relative;
    height: 260px;
}

.contact-accent img{
    position: absolute;
    right: 40px;
    top:10%;
    transform: translateY(-60%);
    width: 360px;
    opacity: 1;
    filter: sepia(40%) saturate(80%);
    animation: floatleaf 12s ease-in-out infinite;
}

/*RESPONSIVE*/
@media(max-width: 900px){
    .contact-wrapper{
        grid-template-columns: 1fr;
        text-align:center;
    }


.center-accent{
    margin-top: 60px;
}

.contact-accent img{
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    margin: 0 auto;
    width: 220px;
}
}